<h1>Assets in your new takeout</h1>
<table class="table">
  <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Content Type</th>
        <th scope="col">privLevel</th>
        <th scope="col">Download</th>
        <th scope="col">Takeout</th>
    </tr>
  </thead>
  <tbody>
    {{#each assets}}  
    <tr>
        <td>{{name}}</td>
        <td>{{contentType}}</td>
        <td>{{privLevel}}</td>
        <td>
            <a class="btn btn-success" href="/uploads/{{assetMulterName}}" download="{{assetOriginalName}}">Download</a>
        </td>
        <td>
            <a class="btn btn-danger" href="/takeouts/remove_from_takeout/{{id}}">Remove</a>
        </td>       
    </tr>
    {{/each}}
  </tbody>
</table>

<form action="/takeouts/create_new_takeout" method="POST">
    <button type="submit" class="btn btn-primary">Create this takeout!</button>
</form>
