<h1>Assets in takeout {{takeout.takeoutToken}}</h1>
    <div class="btn btn-info">Email this takeout</div>
    <div class="btn btn-dark">Send via text</div>

    
<table class="table">
  <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Content Type</th>
        <th scope="col">privLevel</th>
        <th scope="col">Download</th>
    </tr>
  </thead>
  <tbody>
    {{#each takeout.assets}}  
    <tr>
        <td>{{name}}</td>
        <td>{{contentType}}</td>
        <td>{{privLevel}}</td>
        <td>
            <a class="btn btn-success" href="/uploads/{{assetMulterName}}" download="{{assetOriginalName}}">Download</a>
        </td>    
    </tr>
    {{/each}}
  </tbody>
</table>

