<br>
<div class="row">
    <h1>Categories</h1>
</div>

<div class="row">
    {{#if user.isAdmin}}
        <a href="/categories/add_category" class="btn btn-primary">Add a new category</a>
    {{/if}}
</div>

<br>

<div class="row">
<div class="card-columns">
{{#each categories}}
<div class="card">
    <a href="/categories/{{id}}/products">
        <img src="/uploads/{{imageMulterName}}" class="card-img-top" alt="image for the category {{name}}" width="200">
    </a>
    <div class="card-body">
        <h4 class="card-text">{{name}}</h4>
        {{#if ../user.isAdmin}}
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="/categories/{{id}}/products" class="card-link">Products</a>
                <a href="/categories/{{id}}/edit" class="card-link">Edit</a>
                <a href="/categories/{{id}}/delete" class="card-link">Delete</a>
            </div>
        {{else}}
            <a href="/categories/{{id}}/products" class="btn btn-primary">View Products</a>
        {{/if}}
    </div>
</div>
{{/each}}
</div>
</div>