<h1>All Users (Admin Only View)</h1>
<table class="table">
  <thead>
    <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
        <th scope="col">userLevel</th>
        <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}  
    <tr>
        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
        <td>{{email}}</td>
        <td>{{userLevel}}</td>
        <td>
            <a class="btn btn-primary" href="/users/lol/{{id}}" role="button">Inspect</a>
            <a class="btn btn-success" href="/users/lol/{{id}}" role="button">Edit</a>
            <a class="btn btn-danger" href="/users/lol/{{id}}" role="button">Delete</a>
        <td>
    </tr>
    {{/each}}
  </tbody>
</table>