<div class="row">
    <h1>Products under {{results.name}}</h1>
</div>

<div class="row">
{{#if user.isAdmin}}
    <a class="btn btn-primary" href="/categories/{{results.id}}/products/addproduct">Add a product here</a>
{{/if}}
</div>
<br>
<div class="row">
<div class="card-columns">
    {{#each results.products}}
    <div class="card">
        <a href="/categories/{{categoryId}}/products/{{id}}/assets">
            <img src="/uploads/{{imageMulterName}}" class="card-img-top" alt="image for the category {{name}}" width="200">
        </a>
        <div class="card-body">
            <h4 class="card-title">{{name}}</h4>
            <p class="card-text">{{shortDescription}}</p>
            {{#if ../user.isAdmin}}
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="/categories/{{categoryId}}/products/{{id}}/assets" class="card-link">Assets</a>
                <a href="/products/{{id}}" class="card-link">Info</a>
                <a href="/products/{{id}}/delete" class="card-link">Delete</a>
            </div>
        {{else}}
            <a href="/categories/{{categoryId}}/products/{{id}}/assets" class="btn btn-primary">View Assets</a>
        {{/if}}
        </div>
    </div>
    {{/each}}
</div>
</div>

