<h1>List of Assets for {{results.name}}</h1>
<table class="table">
  <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Content Type</th>
        <th scope="col">privLevel</th>
        <th scope="col">Download</th>
        <th scope="col">Takeout</th>
    </tr>
  </thead>
  <tbody>
    {{#each results.assets}}  
    <tr>
        <td>{{name}}</td>
        <td>{{contentType}}</td>
        <td>{{privLevel}}</td>
        <td>
            <a class="btn btn-success" href="/uploads/{{assetMulterName}}" download="{{assetOriginalName}}">Download</a>
        </td>
        <td>
            <form action="/takeouts/add_to_takeout/{{id}}" method="POST">
                <button type="submit" class="btn btn-primary">Add to takeout</button>
            </form>
        </td>       
    </tr>
    {{/each}}
  </tbody>
</table>
